<%= form_for (@page) do |f| %>

<div class="field editing-title">
    Editing: <%= f.text_field :title %>
</div>

<div class="actions">
	<a class="negative primary button" href="<%= request.url.chomp("edit")%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">delete</a>
    <%= f.submit "Save", :class => "primary button", :id =>"update-page" %>
	<img src="/images/ajax-loader.gif" alt="Yak is loading!" id="ajax-icon"/>
</div>

  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  


  <div id="version_history" <%= "style='display:none'" unless params[:version_history] %>>
    <%= render "big_cms/page_versions/history", :page => @page %>
  </div><!-- #version_history -->

  <div id="advanced_options" <%= "style='display:none'" unless params[:advanced_options] %>>
    <div class="field">
      <%= f.label :navigation_id %><br />
      <%= f.text_field :navigation_id %>
    </div>
  </div><!-- #advanced_options -->

  <div class="field">
    <%= f.text_area :content %>
  </div>
<% end %>
