<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>

  <div id="version_history" <%= "style='display:none'" unless params[:version_history] %>>
    <%= render "big_cms/page_versions/history", :page => @page %>
  </div><!-- #version_history -->

  <div id="advanced_options" <%= "style='display:none'" unless params[:advanced_options] %>>
    <div class="field">
      <%= f.label :content_type %><br />
      <%= f.text_field :content_type %>
    </div>
    <div class="field">
      <%= f.label :navigation_id %><br />
      <%= f.text_field :navigation_id %>
    </div>
    <div class="field">
      <%= f.label :render_type %><br />
      <%= f.text_field :render_type %>
    </div>
  </div><!-- #advanced_options -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
