<%= form_for(@component) do |f| %>
  <div class="actions">
    <%= f.submit "Save"%>
    Mode: 
    <%= link_to "visual", "#visual", {:id => 'set-visual-mode-button'} %>
    <%= link_to "source", "#source", {:id => 'set-source-mode-button'} %>
  </div>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_area :content %>
  </div>
<% end %>
