<%= form_for(@component) do |f| %>

<div class="field editing-title">
    Editing: <%= f.text_field :name %>
</div>

<div class="actions">
	<a class="negative button primary" href="<%= request.url.chomp("edit")%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">delete</a>
    <%= f.submit "Save", :class => "primary button", :id =>"update-page" %>
	<img src="/images/ajax-loader.gif" alt="Yak is loading!" id="ajax-icon"/>
    <div id="editor-mode"> 
    	<%= link_to "Visual", "#visual", {:id => 'set-visual-mode-button'} %>
	    <%= link_to "Source", "#source", {:id => 'set-source-mode-button'} %>
	</div>
	
	<div id="preview">
		<%= link_to "Preview site", "http://#{current_site.sub_domain}.yak.ms/", {:target => "_blank" }%>
		
		<%= link_to "Preview snippet", "http://#{current_site.sub_domain}.yak.ms#{big_cms_component_path(@component)}", {:target => "_blank" }%>
		<!-- preview page -->
	</div>
 </div>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content %>
  </div>
<% end %>
