<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @component.name %>
</p>

<p>
  <b>Content:</b>
  <%= @component.content %>
</p>

<p>
  <b>Content type:</b>
  <%= @component.content_type %>
</p>

<p>
  <b>Content manager:</b>
  <%= @component.content_manager_id %>
</p>

<p>
  <b>Render type:</b>
  <%= @component.render_type %>
</p>

<p>
  <b>Status:</b>
  <%= @component.status %>
</p>

<p>
  <b>Version:</b>
  <%= @component.version %>
</p>

<p>
  <b>New content:</b>
  <%= @component.new_content %>
</p>


