<p id="notice"><%= notice %></p>

<p>
  <b>Navigationable type:</b>
  <%= @navigation.navigationable_type %>
</p>

<p>
  <b>Navigationable:</b>
  <%= @navigation.navigationable_id %>
</p>

<p>
  <b>Position:</b>
  <%= @navigation.position %>
</p>

<p>
  <b>Title:</b>
  <%= @navigation.title %>
</p>

<p>
  <b>Url:</b>
  <%= @navigation.url %>
</p>


<%= link_to 'Edit', edit_navigation_path(@navigation) %> |
<%= link_to 'Back', navigations_path %>
