<%= form_for(@cms_file, :html => {:multipart => true}) do |f| %>
  <% if @cms_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cms_file.errors.count, "error") %> prohibited this file from being saved:</h2>

      <ul>
      <% @cms_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_file_name %><br />
    <%= image_tag(@cms_file.file.thumb.url) if @cms_file.file? %>
    <%= f.file_field :file %>
    <%= f.hidden_field :file_cache %>
  </div>
  <div class="actions">
    <%= f.submit "upload" %>
  </div>
<% end %>
