<p id="notice"><%= notice %></p>

<p>
  <% if @cms_file.image? %>
    <%= image_tag @cms_file.file.url %><br />
  <% end %>
  <b>File file name:</b>
  <%= @cms_file.file_file_name %>
</p>

<p>
  <b>File content type:</b>
  <%= @cms_file.file_content_type %>
</p>

<p>
  <b>File file size:</b>
  <%= @cms_file.file_file_size %>
</p>

<p>
  <b>File updated at:</b>
  <%= @cms_file.file_updated_at %>
</p>

