<h1>Listing navigations</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Title</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @navigations.each do |navigation| %>
  <tr>
    <td><%= navigation.position %></td>
    <td><%= navigation.title %></td>
    <td><%= navigation.url %></td>
    <td class="actions">
      <%= link_to "show", big_cms_navigation_path(navigation) %>
      <%= link_to "edit", edit_big_cms_navigation_path(navigation) %>
      <%= link_to 'delete', big_cms_navigation_path(navigation), :confirm => 'Are you sure?', :method => :delete %>
    </td>

  </tr>
<% end %>
</table>

<br />

