<%= form_for(@content_manager) do |f| %>
  <% if @content_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_manager.errors.count, "error") %> prohibited this content_manager from being saved:</h2>

      <ul>
      <% @content_manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :private_pages %><br />
    <%= f.check_box :private_pages %>
  </div>
  <div class="field">
    <%= f.label :user_editable %><br />
    <%= f.check_box :user_editable %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
