<p id="notice"><%= notice %></p>

<p>
  <b>Private pages:</b>
  <%= @content_manager.private_pages %>
</p>

<p>
  <b>User editable:</b>
  <%= @content_manager.user_editable %>
</p>


<%= link_to 'Edit', edit_content_manager_path(@content_manager) %> |
<%= link_to 'Back', content_managers_path %>
