<h1>Listing cms_files</h1>

<table>
  <tr>
    <th>File file name</th>
    <th>File content type</th>
    <th>File file size</th>
    <th>File updated at</th>
    <th>Content manager</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cms_files.each do |cms_file| %>
  <tr>
    <td><%= cms_file.file_file_name %></td>
    <td><%= cms_file.file_content_type %></td>
    <td><%= cms_file.file_file_size %></td>
    <td><%= cms_file.file_updated_at %></td>
    <td><%= cms_file.content_manager_id %></td>
    <td><%= link_to 'Show', cms_file %></td>
    <td><%= link_to 'Edit', edit_cms_file_path(cms_file) %></td>
    <td><%= link_to 'Destroy', cms_file, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cms file', new_cms_file_path %>
