<p id="notice"><%= notice %></p>

<p>
  <b>File file name:</b>
  <%= @cms_file.file_file_name %>
</p>

<p>
  <b>File content type:</b>
  <%= @cms_file.file_content_type %>
</p>

<p>
  <b>File file size:</b>
  <%= @cms_file.file_file_size %>
</p>

<p>
  <b>File updated at:</b>
  <%= @cms_file.file_updated_at %>
</p>

<p>
  <b>Content manager:</b>
  <%= @cms_file.content_manager_id %>
</p>


<%= link_to 'Edit', edit_cms_file_path(@cms_file) %> |
<%= link_to 'Back', cms_files_path %>
