<%= stylesheet_link_tag "big_cms_admin" %>
<script>
// embarassingly taken from about.com: http://javascript.about.com/library/blscreen2.htm
function pageHeight() {
 return  window.innerHeight != null? window.innerHeight : document.documentElement && document.documentElement.clientHeight ?  document.documentElement.clientHeight : document.body != null? document.body.clientHeight : null;} 

function setSizes() {
  $('#nav_listing').height(pageHeight() - $('#nav_listing').position().top - 20);
  if ($('#editor').size > 0) {
    $('#editor').height(pageHeight() - $('#editor').position().top - 20)
    $('#editor').width($('body').innerWidth() - $('#editor').position().left - 20)
  }
}
</script> 
<% if !(controller.controller_name == "cms_files" and controller.action_name == "new") %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" %>
  <%= javascript_include_tag 'big_lib_rails' %>
  <%= javascript_include_tag 'ace/ace' %>
  <%= javascript_include_tag 'ace/mode-html' %>
<script>
window.onload = function() {
  var textarea = $('#big_cms_page_content, #big_cms_layout_content, #big_cms_component_content');
  if (textarea.size() > 0) {
    textarea.after('<div id="editor" style="display:none; border: 1px solid #ccc; height: 100%; width: 100%"></div>');
    var editor = $('#editor');
    textarea.hide();
    editor.append(textarea.html());
    editor.show();

    var ace_editor = ace.edit("editor");
    ace_editor.gotoLine(1);
    var HTMLMode = require("ace/mode/html").Mode;
    ace_editor.getSession().setMode(new HTMLMode());
    ace_editor.renderer.setShowPrintMargin(false);
    setSizes()
    window.editor = ace_editor
  }

  $('form.edit_big_cms_layout, form.edit_big_cms_page, form.edit_big_cms_component, form.new_big_cms_layout, form.new_big_cms_page, form.new_big_cms_component').submit(function() { 
    var textarea = $('#big_cms_page_content, #big_cms_layout_content, #big_cms_component_content');
    textarea.empty().append(window.editor.getSession().getValue());
  });

  $('li.pages ul li.edit a').each(function () {
    var page_id;
    if (page_id = $(this).attr("href").match(/pages\/(.+?)\/edit/) ) {
      var name = $(this).html();
      var insert = $('<a href="#">&gt;&gt;</a>')
      insert.click(function() {insertPage(page_id[1], name)})
      $(this).after(insert);
    };
  });

  $('li.components ul li.edit a').each(function () {
    var name = $(this).html();
    var insert = $('<a href="#">&gt;&gt;</a>')
    insert.click(function() {insertSnippet(name)})
    $(this).after(insert);
  });

$('li.cms_files ul li.insert a').each(function () {
    var href = $(this).attr("href");
    var name = $(this).html();
    var insert = $('<a href="#">&gt;&gt;</a>')
    insert.click(function() {insertFile(href, name)})
    $(this).after(insert);
  });

};

$(window).resize(function() {
  setSizes();
});

function insertSnippet(name) {
  window.editor.insert("{{ " + name + " }}");
}

function insertFile(url, name) {
  if (url.match(/\.(jpg|jpeg|gif|png)$/i)) {
    window.editor.insert("<img src='" + url +"' " + "alt='" + name + "' />");
  } else {
    window.editor.insert("<a href='" + url +"'>" + name + "</a>");
  }
}

function insertPage(id, name) {
  window.editor.insert("<a href='/pages/" + id +"'>" + name + "</a>");
}

</script>
<% else %>
<script>

window.onload = function() {
  setSizes();
};
$(window).resize(function() {
  setSizes();
});
</script>
<% end %>
  <style>
    #body table {
      width: 100%;
    }
    #body td {
      text-align: center;
      vertical-align: middle;
    }
    #body tr.odd {
      background-color: #ccc;
    }
    #nav {
      float: left;
      width: 260px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    #nav_listing {
      overflow-y: scroll;
      width: 260px;
    }
    #content {
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 280px;
    }
    #content textarea {
      width: 100%;
    }
    #content input[type="text"] {
      width: 300px;
    }
  </style>
  <div id="body">
    <div id="nav">
    <div id="nav_listing">
      <ul id="main_nav">
        <% if !(current_cms.layouts.nil? or current_cms.layouts.empty?) %>
          <li class="layouts">
            <strong>Layouts</strong>
            <ul>
              <li class="new"><%= link_to "Web", edit_big_cms_layout_path(current_cms.layouts.first) %></li>
            </ul>
          </li>
        <% end %>

        <li class="pages">
          <strong><%= link_to "Pages", big_cms_pages_path() %></strong>
          <ul>
            <li class="new"><%= link_to "+ Add New", new_big_cms_page_path() %></li>
            <% current_cms.pages.order(:title).each do |page| %>
              <li class="edit"><%= link_to page.title, edit_big_cms_page_path(:id => page.slug) %></li>
            <% end %>
          </ul>
        </li>
        <li class="components">
          <strong><%= link_to "Snippets", big_cms_components_path() %></strong>
          <ul>
            <li class="new"><%= link_to "+ Add New", new_big_cms_component_path() %></li>
            <% current_cms.components.order(:name).each do |component| %>
              <li class="edit"><%= link_to component.name, edit_big_cms_component_path(component) %></li>
            <% end %>
          </ul>
        </li>
        <li class="cms_files">
          <strong><%= link_to "Files", big_cms_cms_files_path() %></strong>
          <ul>
            <li class="new"><%= link_to "+ Upload", new_big_cms_cms_file_path() %></li>
            <% current_cms.files.order(:file_file_name).each do |file| %>
              <li class="insert"><%= link_to file.file_file_name, file.file.url %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- #nav_listing -->
    </div><!-- #nav -->

    <div id="content">
      <%= yield %>
    </div>
    <div class="clear" />
  </div><!-- #body -->
