<%= stylesheet_link_tag "big_cms_admin" %>
<% if !controller.class.to_s.match(/^BigCms::CmsFile/) %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" %>
  <%= javascript_include_tag 'big_lib_rails' %>
  <%= javascript_include_tag 'ace/ace' %>
  <%= javascript_include_tag 'ace/mode-html' %>
 <script>
// This is based on the ACE bookmarklet.
function inject() { 
  var baseUrl="/javascripts/ace/"; 
  function load(path, module, callback) { 
    path = baseUrl + path; 
    if (!load.scripts[path]) { 
      load.scripts[path] = { loaded: false, callbacks: [ callback ] }; 
      var head = document.getElementsByTagName('head')[0]; 
      var s = document.createElement('script'); 
      function c() { 
        if (window.__ace_shadowed__ && window.__ace_shadowed__.define.modules[module]) { 
          load.scripts[path].loaded = true; 
          load.scripts[path].callbacks.forEach(function(callback) { callback(); }); 
        } else { setTimeout(c, 50); } 
      }; 
      s.src = path; 
      head.appendChild(s); 
      c(); 
    } else if (load.scripts[path].loaded) { 
      callback(); 
    } else { 
      load.scripts[path].callbacks.push(callback); 
    } 
  }; 
  load.scripts = {}; 
  window.__ace_shadowed_load__ = load; 
  if ((area = document.getElementById("big_cms_page_content")) || (area = document.getElementById("big_cms_layout_content")) || (area = document.getElementById("big_cms_component_content"))) {
    var ace = window.__ace_shadowed__; 
    var result = ace.transformTextarea(area); 
    result.setOption("mode", "html");
    result.setOption("gutter", true);
  }
};
</script> 
<% end %>
  <style>
    #body table {
      width: 100%;
    }
    #body td {
      text-align: center;
      vertical-align: middle;
    }
    #body tr.odd {
      background-color: #ccc;
    }
    #nav {
      float: left;
      width: 260px;
      padding-right: 20px;
    }
    #content {
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 280px;
    }
    #content textarea {
      width: 100%;
    }
    #content input[type="text"] {
      width: 300px;
    }
  </style>
  <div id="body">
    <div id="nav">
      <h2>Content Management</h2>
      <ul id="main_nav">
        <li class="pages">
          <h3>Pages</h3>
          <ul>
            <li class="index"><%= link_to "Pages", big_cms_pages_path() %></li>
            <li class="new"><%= link_to "Add New", new_big_cms_page_path() %></li>
          </ul>
        </li>
        <li class="components">
          <h3>Snippets</h3>
          <ul>
            <li class="index"><%= link_to "Snippets", big_cms_components_path() %></li>
            <li class="new"><%= link_to "Add New", new_big_cms_component_path() %></li>
          </ul>
        </li>
        <li class="cms_files">
          <h3>Files</h3>
          <ul>
            <li class="index"><%= link_to "Files", big_cms_cms_files_path() %></li>
            <li class="new"><%= link_to "Upload", new_big_cms_cms_file_path() %></li>
          </ul>
        </li>
        <% if !(current_cms.layouts.nil? or current_cms.layouts.empty?) %>
          <li class="layouts">
            <h3>Layout</h3>
            <ul>
              <li class="new"><%= link_to "Web Layout", edit_big_cms_layout_path(current_cms.layouts.first) %></li>
            </ul>
          </li>
        <% end %>
        <li class="content_managers">
          <h3>Configuration</h3>
          <ul>
            <li class="edit"><%= link_to "Permissions", edit_big_cms_content_manager_path(current_cms) %></li>
          </ul>
        </li>
      </ul>
    </div><!-- #nav -->

    <div id="content">
      <%= yield %>
    </div>
    <div class="clear" />
  </div><!-- #body -->
<script>
inject();
</script>
