<%= stylesheet_link_tag "big_cms_admin" %>
<%= stylesheet_link_tag "http://jquery-ui.googlecode.com/svn/tags/1.8.11/themes/base/jquery.ui.resizable.css" %> 
<script>
// embarassingly taken from about.com: http://javascript.about.com/library/blscreen2.htm
function pageHeight() {
 return  window.innerHeight != null? window.innerHeight : document.documentElement && document.documentElement.clientHeight ?  document.documentElement.clientHeight : document.body != null? document.body.clientHeight : null;} 

function setSizes() {
    if ($('#editor').size > 0) {
      $('#editor').height(pageHeight() - $('#editor').position().top - 46);
      $('#editor').width($('body').innerWidth() - $('#editor').position().left - 2);
      $('.ace_scroller').width($('#editor').width() - 55);
    }
    $('#nav-resize').height($(window).height() - 54);
    $('#nav_listing').height($("#nav-resize").height() - 24);
    $('#nav').height($('#nav_listing').height() - 2);
    $('#nav .sub-contents li a').not('.insertCode, #upload').width($("#nav").width() - 90);
}

function setVisualSizes() {
	$(".wysiwyg").width($('body').innerWidth() - $('.wysiwyg').position().left - 2);
}

</script> 
<% if !(controller.controller_name == "cms_files" and controller.action_name == "new") %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" %>

  <%= javascript_include_tag 'big_lib_rails' %>
  <%= javascript_include_tag 'jquery.cookie' %>
  <%= javascript_include_tag 'ace/ace' %>
  <%= javascript_include_tag 'ace/mode-html' %>
  <%= javascript_include_tag 'ace/theme-twilight' %>
  <%= javascript_include_tag 'jquery.event.drag-2.0.min.js'%>
  <%= javascript_include_tag 'jquery.hotkeys'%>
  <%= stylesheet_link_tag "jquery.wysiwyg.css" %>
  <%= javascript_include_tag 'jquery.wysiwyg.js' %>
<script>
function findMainTextArea() {
  return $('#big_cms_page_content, #big_cms_layout_content, #big_cms_component_content');
}
function syncAceEditor() {
  var textarea = findMainTextArea();
  //textarea.empty().append(window.editor.getSession().getValue());
  textarea[0].value = window.editor.getSession().getValue();
}
window.onload = function() {
  var textarea = findMainTextArea();
  if (textarea.size() > 0) {
    textarea.after('<div id="editor" style="display:none; height: 100%; width: 100%"></div>');
    var editor = $('#editor');
    textarea.hide();
    editor.append(textarea.html());
    editor.show();
    setSizes();
    var ace_editor = ace.edit("editor");
    ace_editor.setTheme("ace/theme/twilight");
    ace_editor.gotoLine(1);
    var HTMLMode = require("ace/mode/html").Mode;
    ace_editor.getSession().setMode(new HTMLMode());
    ace_editor.renderer.setShowPrintMargin(false);
    window.editor = ace_editor;
  }

    $( "#nav" ).resizable({
        resize: function(event, ui) {
        setSizes();
        
        // still need to use these so the sidebar stays the same width upon refreshes.
        $.cookie("nav-width", $("#nav").width());
        $.cookie("editor-width", $("#editor").width());
      }
    });
    
    $( "#main_nav li .sub-contents a ").draggable({
        opacity: 0.7,
        containment: 'document',
        cursor: 'move',
        appendTo: 'body',
        helper: "clone",
        stop: function(event, ui) { return false; }
    });
    $( "#editor" ).droppable({drop: function(event, ui){
            alert("Yay");
            return false;
        }});

    
    setTimeout(function() {
        if ($.cookie($(".pages .show_hide").next().text()) == "false"){
            $(".pages .show_hide").trigger("click");
        }
        
        if ($.cookie($(".components .show_hide").next().text()) == "false"){
            $(".components .show_hide").trigger("click");
        }
        
        if ($.cookie($(".cms_files .show_hide").next().text()) == "false"){
            $(".cms_files .show_hide").trigger("click");
        }
    
    },0);
    

  $('form.edit_big_cms_layout, form.edit_big_cms_page, form.edit_big_cms_component, form.new_big_cms_layout, form.new_big_cms_page, form.new_big_cms_component').submit(function() { 
    syncAceEditor();
  });

    var pagesNext = $(".pages").next();
    var filesNext = $(".cms_files").next();
    var componentsNext = $(".components").next();

 $(pagesNext + 'li.edit a').each(function () {
    var page_id;
    if (page_id = $(this).attr("href").match(/pages\/(.+?)\/edit/) ) {
      var name = $(this).html();
      var insert = $('<a href="#" class="insertCode" title="Insert into editor"></a>')
      insert.click(function() {insertPage(page_id[1], name)})
      $(this).after(insert);
    };
  });

    $(".current-site").click(function() {
            $("#sites-dropdown").slideDown('fast').show(); 
            $("#sites-dropdown").hover(function() {
            }, function(){
                $("#sites-dropdown").slideUp('fast');
            });
        });

    $("#sites-dropdown li").click(function() {
        var url = $(this).find('span.under').text();
        url = "http://" + url + "/content_manager/";
        document.location.href = url;
    })

    $(componentsNext + 'li.edit a').each(function () {
        var name = $(this).html();
        var insert = $('<a href="#" class="insertCode" title="Insert into editor"></a>')
        insert.click(function() {insertSnippet(name)})
        $(this).after(insert);
      });

    $(filesNext + 'li.insert a').each(function () {
        var href = $(this).attr("href");
        var name = $(this).html();
        var insert = $('<a href="#" class="insertCode" title="Insert into editor"></a>')
        insert.click(function() {insertFile(href, name)})
        $(this).after(insert);
      });


$("#main_nav > li").not('.folder-icon').click(function(){
    $(this).next().toggle();
    if ($(this).find(':first-child').hasClass('active-show_hide')){
        $.cookie($(this).find(':first-child').next().text(), "true");
        $(this).find(':first-child').removeClass('active-show_hide');
    }
    else{
        $.cookie($(this).find(':first-child').next().text(), "false");
        $(this).find(':first-child').addClass('active-show_hide');
    }
});

  $('#set-visual-mode-button').click(function(){
    setVisualMode();
  });

  $('#set-source-mode-button').click(function(){
    setSourceMode();
  });
};

$(window).resize(function() {
    setSizes();
});


function insertSnippet(name) {
  window.editor.insert("{{ " + name + " }}");
}

function insertFile(url, name) {
  if (url.match(/\.(jpg|jpeg|gif|png)$/i)) {
    window.editor.insert("<img src='" + url +"' " + "alt='" + name + "' />");
  } else {
    window.editor.insert("<a href='" + url +"'>" + name + "</a>");
  }
}

function insertPage(id, name) {
  window.editor.insert("<a href='/pages/" + id +"'>" + name + "</a>");
}

function setVisualMode() {
  $('#editor').hide();
  syncAceEditor();
  findMainTextArea().show().wysiwyg(); 
}

function setSourceMode() {
  findMainTextArea().wysiwyg("destroy");
  findMainTextArea().hide();
  $('#editor').show();
}
</script>
<% else %>
<script>
    window.onload = function() {
        setSizes();
    };
</script>
<% end %>
  <style>
    #body table {
      width: 100%;
    }
    #body td {
      text-align: center;
      vertical-align: middle;
    }
    #body tr.odd {
      background-color: #eee;
    }
    #content textarea {
      width: 100%;
    }
    #content input[type="text"] {
      width: 300px;
    }
  </style>

<%
    def link_to_with_highlight(name, options = {}, html_options = {})
      html_options.merge!({ :class => 'active' }) if current_page?(options)
      link_to(name, options, html_options)
    end
%>
  <div id="body">
    <div id="header">
        <%= render "layouts/big_admin_header" %>
    </div>
    <div id="nav">
      <%= render "layouts/big_admin_nav_listing" %>
    </div><!-- #nav -->
    <div id="nav-resize"></div>

    <div id="content">
      <%= yield %>
    </div>
    <div class="clear" />
  </div><!-- #body -->
<!-- need to insert a footer -->
