<%= stylesheet_link_tag "big_cms_admin" %>
<%= stylesheet_link_tag "http://jquery-ui.googlecode.com/svn/tags/1.8.11/themes/base/jquery.ui.resizable.css" %> 

<script>
// embarassingly taken from about.com: http://javascript.about.com/library/blscreen2.htm
function pageHeight() {
 return  window.innerHeight != null? window.innerHeight : document.documentElement && document.documentElement.clientHeight ?  document.documentElement.clientHeight : document.body != null? document.body.clientHeight : null;} 

function setSizes() {
    $('#editor').height(pageHeight() - $('#editor').position().top - 2);
	$('#nav-resize').height($("#editor").height() + 2);
	$('#nav_listing').height($("#editor").height() - 22);
	$('#editor').width($('body').innerWidth() - $('#editor').position().left - 2);
}
</script> 
<% if !(controller.controller_name == "cms_files" and controller.action_name == "new") %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" %>

  <%= javascript_include_tag 'big_lib_rails' %>
  <%= javascript_include_tag 'ace/ace' %>
  <%= javascript_include_tag 'ace/mode-html' %>
  <%= javascript_include_tag 'ace/theme-twilight' %>
  <%= javascript_include_tag 'jquery.event.drag-2.0.min.js'%>
<script>
window.onload = function() {
  var textarea = $('#big_cms_page_content, #big_cms_layout_content, #big_cms_component_content');
  if (textarea.size() > 0) {
    textarea.after('<div id="editor" style="display:none; height: 100%; width: 100%"></div>');
    var editor = $('#editor');
    textarea.hide();
    editor.append(textarea.html());
    editor.show();
	setSizes();
    var ace_editor = ace.edit("editor");
	ace_editor.setTheme("ace/theme/twilight");
    ace_editor.gotoLine(1);
    var HTMLMode = require("ace/mode/html").Mode;
    ace_editor.getSession().setMode(new HTMLMode());
    ace_editor.renderer.setShowPrintMargin(false);
	window.editor = ace_editor;
	$("#main_nav li .show_hide").trigger('click');
  }

	$("#nav .pages .sub-contents .edit a").bind('drag', function( event ){
		// I'll finish this up Tuesday and throughout the rest of this week.
		// see http://threedubmedia.com/demo/drag/
	})

	$( "#nav" ).resizable({
	    resize: function(event, ui) {
	    setSizes();
	  }
	});
	
	setTimeout(function() {
	    $(".show_hide").trigger('click');
		$("li.pages .show_hide").trigger('click');
	},0);
	

  $('form.edit_big_cms_layout, form.edit_big_cms_page, form.edit_big_cms_component, form.new_big_cms_layout, form.new_big_cms_page, form.new_big_cms_component').submit(function() { 
    var textarea = $('#big_cms_page_content, #big_cms_layout_content, #big_cms_component_content');
    textarea.empty().append(window.editor.getSession().getValue());
  });

  $('li.pages ul li.edit a').each(function () {
    var page_id;
    if (page_id = $(this).attr("href").match(/pages\/(.+?)\/edit/) ) {
      var name = $(this).html();
      var insert = $('<a href="#" class="insert-code"></a>')
      insert.click(function() {insertPage(page_id[1], name)})
      $(this).after(insert);
    };
  });

	$("#show-sites-dropdown-arrow").click(function(){
		$("#sites-dropdown").toggle();
	})


  $('li.components ul li.edit a').each(function () {
    var name = $(this).html();
    var insert = $('<a href="#" class="insert-code"></a>')
    insert.click(function() {insertSnippet(name)})
    $(this).after(insert);
  });

$('li.cms_files ul li.insert a').each(function () {
    var href = $(this).attr("href");
    var name = $(this).html();
    var insert = $('<a href="#" class="insert-code"></a>')
    insert.click(function() {insertFile(href, name)})
    $(this).after(insert);
  });


$("#main_nav > li > .show_hide").click(function(){
	$(this).parent().find('.sub-contents').toggle();
	if ($(this).hasClass('active-show_hide'))
		$(this).removeClass('active-show_hide');
	else
		$(this).addClass('active-show_hide');
});

};

$(window).resize(function() {
  	setSizes();
});


function insertSnippet(name) {
  window.editor.insert("{{ " + name + " }}");
}

function insertFile(url, name) {
  if (url.match(/\.(jpg|jpeg|gif|png)$/i)) {
    window.editor.insert("<img src='" + url +"' " + "alt='" + name + "' />");
  } else {
    window.editor.insert("<a href='" + url +"'>" + name + "</a>");
  }
}

function insertPage(id, name) {
  window.editor.insert("<a href='/pages/" + id +"'>" + name + "</a>");
}

</script>
<% else %>
<script>
	window.onload = function() {
		setSizes();
	};
</script>
<% end %>
  <style>
    #body table {
      width: 100%;
    }
    #body td {
      text-align: center;
      vertical-align: middle;
    }
    #body tr.odd {
      background-color: #eee;
    }
    #content textarea {
      width: 100%;
    }
    #content input[type="text"] {
      width: 300px;
    }
  </style>

<%
	def link_to_with_highlight(name, options = {}, html_options = {})
	  html_options.merge!({ :class => 'active' }) if current_page?(options)
	  link_to(name, options, html_options)
	end
%>
  <div id="body">
	<div id="header">
		<%= render "layouts/big_admin_header" %>
	</div>
    <div id="nav">
      <%= render "layouts/big_admin_nav_listing" %>
	</div><!-- #nav -->
	<div id="nav-resize"></div>

    <div id="content">
      <%= yield %>
    </div>
    <div class="clear" />
  </div><!-- #body -->
<!-- need to insert a footer -->
