<%= stylesheet_link_tag "big_cms_admin" %>
<% if !(controller.controller_name == "cms_files" and controller.action_name == "new") %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" %>
  <%= javascript_include_tag 'big_lib_rails' %>
  <%= javascript_include_tag 'ace/ace' %>
  <%= javascript_include_tag 'ace/mode-html' %>
<script>
function inject() {
    var baseUrl = "/javascripts/ace/";
    function load(path, module, callback) {
        path = baseUrl + path;
        if (!load.scripts[path]) {
            load.scripts[path] = {
                loaded: false,
                callbacks: [ callback ]
            };

            var head = document.getElementsByTagName('head')[0];
            var s = document.createElement('script');

            function c() {
                if (window.__ace_shadowed__ && window.__ace_shadowed__.define.modules[module]) {
                    load.scripts[path].loaded = true;
                    load.scripts[path].callbacks.forEach(function(callback) {
                        callback();
                    });
                } else {
                    setTimeout(c, 50);
                }
            };
            s.src = path;
            head.appendChild(s);

            c();
        } else if (load.scripts[path].loaded) {
            callback();
        } else {
            load.scripts[path].callbacks.push(callback);
        }
    };

    load.scripts = {};
    window.__ace_shadowed_load__ = load;

    load('ace.js', 'text!ace/css/editor.css', function() {
    });
}

// Call the inject function to load the ace files.
inject();

var textAce;
function initAce() {
    var ace = window.__ace_shadowed__;
    // Check if the ace.js file was loaded already, otherwise check back later.
    if (ace && ace.transformTextarea) {
        var t; //D = document.querySelector("#big_cms_page_content");
        if ((t = document.getElementById("big_cms_page_content")) || (t = document.getElementById("big_cms_layout_content")) || (t = document.getElementById("big_cms_component_content"))) {
          textAce = ace.transformTextarea(t);
          textAce.setOption("mode", "html");
          textAce.setOption("gutter", "true");
        }
    } else {
alert("bar");
        setTimeout(initAce, 100);
    }
}

// Transform the textarea on the page into an ace editor.
setTimeout(initAce, 1);
</script> 
<% end %>
  <style>
    #body table {
      width: 100%;
    }
    #body td {
      text-align: center;
      vertical-align: middle;
    }
    #body tr.odd {
      background-color: #ccc;
    }
    #nav {
      float: left;
      width: 260px;
      padding-right: 20px;
    }
    #content {
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 280px;
    }
    #content textarea {
      width: 100%;
    }
    #content input[type="text"] {
      width: 300px;
    }
  </style>
  <div id="body">
    <div id="nav">
      <h2>Content Management</h2>
      <ul id="main_nav">
        <% if !(current_cms.layouts.nil? or current_cms.layouts.empty?) %>
          <li class="layouts">
            <strong>Layouts</strong>
            <ul>
              <li class="new"><%= link_to "Web", edit_big_cms_layout_path(current_cms.layouts.first) %></li>
            </ul>
          </li>
        <% end %>

        <li class="pages">
          <strong><%= link_to "Pages", big_cms_pages_path() %></strong>
          <ul>
            <li class="new"><%= link_to "+ Add New", new_big_cms_page_path() %></li>
            <% current_cms.pages.each do |page| %>
              <li class="edit"><%= link_to page.title, edit_big_cms_page_path(page) %></li>
            <% end %>
          </ul>
        </li>
        <li class="components">
          <strong><%= link_to "Snippets", big_cms_components_path() %></strong>
          <ul>
            <li class="new"><%= link_to "+ Add New", new_big_cms_component_path() %></li>
            <% current_cms.components.each do |component| %>
              <li class="edit"><%= link_to component.name, edit_big_cms_component_path(component) %></li>
            <% end %>
          </ul>
        </li>
        <li class="cms_files">
          <strong><%= link_to "Files", big_cms_cms_files_path() %></strong>
          <ul>
            <li class="new"><%= link_to "+ Upload", new_big_cms_cms_file_path() %></li>
            <% current_cms.files.each do |file| %>
              <li class="insert"><%= link_to file.file_file_name, file.file.url %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- #nav -->

    <div id="content">
      <%= yield %>
    </div>
    <div class="clear" />
  </div><!-- #body -->
<script>
inject();
</script>
