<%= stylesheet_link_tag "big_cms_admin" %>
<%= stylesheet_link_tag "http://jquery-ui.googlecode.com/svn/tags/1.8.11/themes/base/jquery.ui.resizable.css" %> 

<style>
    #body table {
      width: 100%;
    }
    #body td {
      text-align: center;
      vertical-align: middle;
    }
    #body tr.odd {
      background-color: #eee;
    }
    #content input[type="text"] {
      width: 300px;
    }
</style>

<script>
// embarassingly taken from about.com: http://javascript.about.com/library/blscreen2.htm
function pageHeight() {
 return  window.innerHeight != null? window.innerHeight : document.documentElement && document.documentElement.clientHeight ?  document.documentElement.clientHeight : document.body != null? document.body.clientHeight : null;} 

function setSizes() {
    $('#editor').height(pageHeight() - $('#editor').position().top - 46);
	$('#editor').width($('body').innerWidth() - $('#editor').position().left);
    $('.ace_scroller').width($('#editor').width() - 65);
	$('.ace_content').width($('.ace_scroller').width());
    $('#nav-resize').height($(window).height() - 54);
    $('#nav_listing').height($("#nav-resize").height() - 24);
    $('#nav').height($('#nav_listing').height() - 2);
    $('#nav .sub-contents li a').not('.insertCode, #upload').width($("#nav").width() - 90);
}

function setVisualSizes() {
	$(".wysiwyg, .wysiwyg iframe").width($('body').innerWidth() - $('.wysiwyg').position().left);
	$(".wysiwyg, .wysiwyg iframe").height((pageHeight() - $('.wysiwyg').position().top - 46));
}

</script> 
<% if !(controller.controller_name == "cms_files" and controller.action_name == "new") %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" %>

  <%= javascript_include_tag 'big_lib_rails' %>
  <%= javascript_include_tag 'jquery.cookie' %>
  <%= javascript_include_tag 'ace/ace' %>
  <%= javascript_include_tag 'ace/mode-html' %>
  <%= javascript_include_tag 'ace/theme-twilight' %>
  <%= javascript_include_tag 'jquery.event.drag-2.0.min.js'%>
  <%= javascript_include_tag 'jquery.hotkeys'%>
  <%= stylesheet_link_tag "jquery.wysiwyg.css" %>
  <%= javascript_include_tag 'jquery.wysiwyg.js' %>
  <%= javascript_include_tag 'wysiwyg.link.js' %>
<script>
function findMainTextArea() {
  return $('#big_cms_page_content, #big_cms_layout_content, #big_cms_component_content');
}
function syncAceEditor() {
  var textarea = findMainTextArea();
  textarea[0].value = window.editor.getSession().getValue();
}

function syncVisualEditor() {
	var visualContent = findMainTextArea().wysiwyg("getContent");
	visualContent = new String(visualContent);
	window.editor.getSession().setValue(visualContent);
}


function loadInNewSourceEditor () {
	var textarea = findMainTextArea();
	if (textarea.size() > 0) {
		textarea.after('<div id="editor" style="display:none;"></div>');
	    var editor = $('#editor');
	    textarea.hide();
	    editor.append(textarea.html());
	    editor.show();
	    setSizes();
	    var ace_editor = ace.edit("editor");
	    ace_editor.setTheme("ace/theme/twilight");
	    ace_editor.gotoLine(1);
	    var HTMLMode = require("ace/mode/html").Mode;
	    ace_editor.getSession().setMode(new HTMLMode());
	    ace_editor.renderer.setShowPrintMargin(false);
	    window.editor = ace_editor;
		setSizes();
	}
}


window.onload = function() {

  loadInNewSourceEditor();

    $( "#nav" ).resizable({
        resize: function(event, ui) {
        setSizes();
        
        // still need to use these so the sidebar stays the same width upon refreshes.
        $.cookie("nav-width", $("#nav").width());
        $.cookie("editor-width", $("#editor").width());
      }
    });

    
    setTimeout(function() {
        if ($.cookie($(".pages .show_hide").next().text()) == "false"){
            $(".pages .show_hide").trigger("click");
        }
        
        if ($.cookie($(".components .show_hide").next().text()) == "false"){
            $(".components .show_hide").trigger("click");
        }
        
        if ($.cookie($(".cms_files .show_hide").next().text()) == "false"){
            $(".cms_files .show_hide").trigger("click");
        }
    
    },0);
    

  $('form.edit_big_cms_layout, form.edit_big_cms_page, form.edit_big_cms_component, form.new_big_cms_layout, form.new_big_cms_page, form.new_big_cms_component').submit(function() { 
    syncAceEditor();
  });

 $(".pages").next().find('li.edit a').each(function () {
    var page_id;
    if (page_id = $(this).attr("href").match(/pages\/(.+?)\/edit/) ) {
      var name = $(this).html();
      var insert = $('<a href="#" class="insertCode" title="Insert into editor"></a>')
      insert.click(function() {insertPage(page_id[1], name)})
      $(this).after(insert);
    };
  });

    $(".current-site").click(function() {
            $("#sites-dropdown").slideDown('fast').show(); 
            $("#sites-dropdown").hover(function() {
            }, function(){
                $("#sites-dropdown").slideUp('fast');
            });
        });

    $("#sites-dropdown li").click(function() {
        var url = $(this).find('span.under').text();
        url = "http://" + url + "/";
		window.open(url, '_blank');
    })

    $(".components").next().find('li.edit a').each(function () {
        var name = $(this).html();
        var insert = $('<a href="#" class="insertCode" title="Insert into editor"></a>')
        insert.click(function() {insertSnippet(name)})
        $(this).after(insert);
      });

    $(".cms_files").next().find('li.insert a').each(function () {
        var href = $(this).attr("href");
        var name = $(this).html();
        var insert = $('<a href="#" class="insertCode" title="Insert into editor"></a>')
        insert.click(function() {insertFile(href, name)})
        $(this).after(insert);
      });

	$("#update-page").click(function() {
		$("#ajax-icon").css("visibility", "visible");
	})


$("#main_nav > li").not('.folder-icon').click(function(){
    $(this).next().toggle();
    if ($(this).find(':first-child').hasClass('active-show_hide')){
        $.cookie($(this).find(':first-child').next().text(), "true");
        $(this).find(':first-child').removeClass('active-show_hide');
    }
    else{
        $.cookie($(this).find(':first-child').next().text(), "false");
        $(this).find(':first-child').addClass('active-show_hide');
    }
});

  $('#set-visual-mode-button').click(function(){
	var current_url = String(window.location);
	current_url = current_url.split("#");
	if (current_url[1] === "visual") {
		return false;
	}
	
	else {
		setVisualMode();
		setVisualSizes();	
	}
  });

  $('#set-source-mode-button').click(function(){
	var current_url = String(window.location);
	current_url = current_url.split("#");
	if (current_url[1] === "source") {
		return false;
	}
	
	else {
		setSourceMode();
		setSizes();
	}
  });

  setSizes();
};

$(window).resize(function() {
    if ((window.location.toString().split("#")[1]) === "source") {
		setSizes();				
	}
	else {
		setVisualSizes();
	}
});


function insertSnippet(name) {
  window.editor.insert('{{ "' + name + '" | snippet }}');
}

function insertFile(url, name) {
    window.editor.insert(url);
}

function insertPage(id, name) {
  window.editor.insert("/pages/" + id);
}

function setVisualMode() {
  $('#editor').hide();
  syncAceEditor();
  findMainTextArea().show().wysiwyg(); 
}

function setSourceMode() {
  syncVisualEditor()
  findMainTextArea().wysiwyg("destroy");
  findMainTextArea().hide();
  $('#editor').show();

}
</script>
<% end %>

<%
    def link_to_with_highlight(name, options = {}, html_options = {})
      html_options.merge!({ :class => 'active' }) if current_page?(options)
      link_to(name, options, html_options)
    end
%>
  <div id="body">
    <div id="header">
        <%= render "layouts/big_admin_header" %>
    </div>
    <div id="nav">
      <%= render "layouts/big_admin_nav_listing" %>
    </div><!-- #nav -->
    <div id="nav-resize"></div>

    <div id="content">
      <%= yield %>
    </div>
    <div class="clear" />
  </div><!-- #body -->
<!-- need to insert a footer -->
