<!DOCTYPE html>
<html>
<head>
  <title>Yak</title>
  <%= stylesheet_link_tag "big_cms_admin" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" %>
  <%= javascript_include_tag 'big_lib_rails'%>
  <%= csrf_meta_tag %>
  <style>
    #body table {
      width: 100%;
    }
    #body td {
      text-align: center;
      vertical-align: middle;
    }
    #body tr.odd {
      background-color: #ccc;
    }
  </style>
</head>
<body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
  <div id="body" class="container_16">
    <div id="nav" class="grid_5 alpha">
      <h2>Content Management</h2>
      <ul id="main_nav">
        <li class="pages">
          <h3>Pages</h3>
          <ul>
            <li class="index"><%= link_to "Pages", big_cms_pages_path() %></li>
            <li class="new"><%= link_to "Add New", new_big_cms_page_path() %></li>
          </ul>
        </li>
        <li class="components">
          <h3>Snippets</h3>
          <ul>
            <li class="index"><%= link_to "Snippets", big_cms_components_path() %></li>
            <li class="new"><%= link_to "Add New", new_big_cms_component_path() %></li>
          </ul>
        </li>
        <li class="navigations">
          <h3>Navigation</h3>
          <ul>
            <li class="index"><%= link_to "Navigation", big_cms_navigations_path() %></li>
            <li class="new"><%= link_to "Add New", new_big_cms_navigation_path() %></li>
          </ul>
        </li>
        <li class="cms_files">
          <h3>Files</h3>
          <ul>
            <li class="index"><%= link_to "Files", big_cms_cms_files_path() %></li>
            <li class="new"><%= link_to "Upload", new_big_cms_cms_file_path() %></li>
          </ul>
        </li>
        <li class="layouts">
          <h3>Layouts</h3>
          <ul>
            <li class="index"><%= link_to "Layouts", big_cms_layouts_path() %></li>
            <li class="new"><%= link_to "Add New", new_big_cms_layout_path() %></li>
          </ul>
        </li>
        <li class="content_managers">
          <h3>Configuration</h3>
          <ul>
            <li class="edit"><%= link_to "Permissions", edit_big_cms_content_manager_path(current_cms) %></li>
          </ul>
        </li>
      </ul>
    </div><!-- #nav -->

    <div class="grid_11 omega">
      <%= yield %>
    </div>
    <div class="clear" />
  </div><!-- #body -->

</body>
</html>
